<h1>Created successfully</h1>

    <span>Name: </span> <%= @user.name %> <br>
    <span>Username: </span> <%= @user.username %> <br>
    <span>Email: </span> <%= @user.email %> <br>
<%= link_to 'Home', root_path%>
