
    <h1>Welcome This is the index page of Alpha-Blog</h1>
    <p>All Users here.</p>

    <% for user in @users %>
      <span>Name: </span><%= link_to user.name , show_user_path(:id => user.id)  %>&nbsp&nbsp&nbsp<%= link_to 'Edit', edit_user_path(:id => user.id)  %>
      <br>
      <br>
    <% end %>

    <%= link_to 'Home', root_path%>
