<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome This is the About page of Alpha-Blog</h1>
    <p>To go back to the Home page click here</p>
    <%= link_to 'Home', root_path%>
  </body>
</html>
