<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome This is the index page of Alpha-Blog</h1>
    <p>To go to the about page click here</p>
    <%= link_to 'About', about_path %>
    <%= link_to 'Users list', user_path %>
  </body>
</html>
