<h1>Posts#index</h1>
<%= link_to 'Create post', posts_new_path(:id => @user.id) %>
<% if @posts.length > 0 %>
  <% @posts.each do |post| %>
    <br>

    <%= link_to post.id ,  posts_show_path(:id => post.id) %>

  <% end %>
  <% else %>
    <p>There are no posts right now</p>
    <p>try to create one.</p>
<% end%>
