<h1>Posts#index</h1>

<% if @posts.length > 0 %>
  <% @posts.each do |post| %>
    <%= post.id %>
  <% end %>
  <% else %>
    <p>There are no posts right now</p>
    <p>try to create one.</p>
<% end%>
