<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
id :<%= @post.id %>
<br>
<%= @post.body %>
<br>
<%= link_to 'Edit this post',posts_edit_path(:id => @post.id)  %>
<%= link_to 'Delete this post',posts_delete_path(:id => @post.id), method: :delete  %>
