body{
	background-color: red;
	height: 100%;
}

.first{
	height: 100%;
	background-color: blue;
}

p{
	
	background-color: green;
}

p.one{
	background-color: orange;
}

p.two{
	background-color: yellow;
}

p.three{
	background-color: green;
}