body{
	padding-left: 10%;
	padding-right: 10%;
	/*padding-bottom: 10%;*/
	height: 100%;
}

.container{
	padding-right: 10%;
	padding-left: 10%;
	height: 100 %;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: gray;
}

header {
	color: white;
	text-align: center;
	font-weight: bold;
	/*padding-top: 1%;*/
	font-size: 2em;
}

p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

p {
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;  
  border-radius: 6px;

}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 8px;
}
