body{
	padding-left: 10%;
	padding-right: 10%;
	/*padding-bottom: 10%;*/
}

.container{
	padding-right: 10%;
	padding-left: 10%;
	height: 100vh;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: gray;
}

header {
	color: white;
	text-align: center;
	font-weight: bold;
	/*padding-top: 1%;*/
	font-size: 2em;
}
