h1 Font awesome

i.fa.fa-camera-retro 
br
<i class="fa fa-camera-retro"></i>

/fa_stacked_icon "twitter", base: "square-o"
/i.fa_stacked "terminal inverse", base: "square", class: "pull-right", text: "Hi!"
