h1 Font awesome

i.fa.fa-camera-retro
br
<i class="fa fa-camera-retro"></i>
br
span
  | fa fa-500px
  i.fa.fa-500px
br

i.fa.fa-bitbucket
br
i#amazon.fa.fa-amazon
br
i#android.fa.fa-android.fa-3x

= fa_stacked_icon "twitter", base: "square-o"
/i.fa_stacked "terminal inverse", base: "square", class: "pull-right", text: "Hi!"
