h1 Font awesome

i.fa.fa-camera-retro
br
= icon('fas', 'flag', class: 'fa-7x')
br
= icon('fas', 'adjust')
br
= icon('fab', 'drupal' )
/ = fa_stacked_icon "twitter", base: "square-o"
/i.fa_stacked "terminal inverse", base: "square", class: "pull-right", text: "Hi!"
